[Unit]
Description=Recommendli Service
After=network.target

[Service]
EnvironmentFile=/usr/share/recommendli/.env
ExecStart=/usr/share/recommendli/build/main
WorkingDirectory=/usr/share/recommendli
Restart=always
RestartSec=5s

MemoryMax=750M

[Install]
WantedBy=multi-user.target
